.map {
    height: 300px;
    width: 100%;
}

.map img[alt=""][src*="photo"],
.map [src*="data:image/jpeg"] {
    border: white 2px solid;
    border-radius: 50%;
}

.marker {
    border: white 2px solid;
    border-radius: 50%;
}

.marker-small {
    height: 10px;
    width: 10px;
}

.marker-large {
    height: 30px;
    width: 30px;
}
